name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.6'  # SDK 3.8.1 required

      - run: flutter --version
      - run: flutter pub get
      - run: flutter build web --release

      - run: ls -lh build/web
      - run: cat build/web/index.html | head -n 10

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
